<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="clientsupport.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
    <title>FABO</title>
</head>
<body>
    <div class="main-page">
        <!-- Side bar -->
        <div class="sidebar">
            <div class="logo-section">
                <img src="fabo.logo.png" alt="Your Logo">
            </div>
            <div class="sbbuttons">
                <button><li><a href="clientsupport.html">Add Support Request</a></li></button>
                <button><li><a href="clientviewsupport.html">View Support Requests</a></li></button>
            </div>
        </div>

        <!-- Dashboard Home Page -->
        <div class="section">
            <div class="card">
                <div class="subsec">
                    <div class="title">Add Support Request</div>
                    <div class="form">
                        <form id="invoiceForm" action="#" onsubmit="return validateForm()">
                            <div class="user-detail">
                                <div class="input-box">
                                    <label for="invoicedropdown">Select </label>
                                    <select id="invoicedropdown" required>
                                        <option value="Royalty">Machines</option>
                                        <option value="Chemicals">Washing</option>
                                        <option value="Ironing">Ironing</option>
                                        <option value="Printers">Printers</option>
                                        <option value="General">General</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <label for="details" class="details">Issue Subject</label>
                                     <textarea id="issuesubject" name="issuesubject" placeholder=" Issue Subject" required></textarea>
                                </div>

                                <div class="input-box">
                                    <label for="details" class="details">Issue Description</label>
                                     <textarea id="issuedescription" name="issuedescription" placeholder=" Issue Description" required></textarea>
                                </div>
                            </div>
                            <div class="buttons">
                                <input type="submit" value="Submit">
                                <div class="close-button">
                                    <button><li><a href="home.html">Close</a></li></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>